* {
  font-family:tahoma;
  padding:0px;
  margin:0px;
}

.container {
  width: 800px;
  margin-left:auto;
  margin-right:auto;
  font-size: 12px;
}

input {
  border-radius:2px;
  border:1px solid #ccc;
  padding:5px;
  margin-right: 10px;
}

.toolbar {
  display: flex;
  flex-wrap: none;
  margin: 10px 0 10px 0;
}

.toolbar-settings > h1 {
  flex-grow: 1;
}

.toolbar-chat > input {
  flex-grow: 1;
}

.chat-content {
  background:#ddd;
  border-radius:5px;
  overflow-y: scroll;
  border:1px solid #CCC;
  height: 700px;
}

.chat-content p {
  line-height: 18px;
  margin: 5px 10px;
}

.chat-content p span.from,
.chat-content p span.to {
  font-weight: bold;
  margin-right: 10px;
}
