* {
  font-family:tahoma;
  padding:0px;
  margin:0px;
}

.container {
  margin-left:auto;
  margin-right:auto;
  font-size: 12px;
}

input {
  border:1px solid #ccc;
  padding:5px;
  margin-right: 10px;
}

.chat-view {
  margin: 0 10px;
  display: flex;
}

.chat-view .room-list {
  width: 200px;
}

.chat-view .room-list li {
  list-style: none;
}

.chat-view .chat {
  flex-grow: 1;
}

.toolbar {
  display: flex;
}

.toolbar-settings > h1 {
  flex-grow: 1;
}

.toolbar-settings {
  margin: 10px;
}

.toolbar-chat {
  margin-top: 10px;
}

.toolbar-chat > input {
  flex-grow: 1;
}

.room-list {
  margin-right: 10px;
  padding: 10px;
  background:#ddd;
  border:1px solid #CCC;
}

.room-list > li {
  cursor: pointer;
}

.room-list > li.current {
  font-weight: bold;
}

.chat-content {
  background:#ddd;
  overflow-y: scroll;
  border:1px solid #CCC;
  height: 700px;
  padding: 10px;
}

.chat-content p {
  line-height: 18px;
}

.chat-content p span.from,
.chat-content p span.to {
  font-weight: bold;
  margin-right: 10px;
}
